.about-hero[data-v-b701575f]{background:linear-gradient(135deg,#667eea,#764ba2)}.leader-avatar[data-v-b701575f]{font-weight:700}.card[data-v-b701575f]{transition:transform .2s}.card[data-v-b701575f]:hover{transform:translateY(-5px)}
