.profile-page[data-v-02b72f71]{min-height:100vh;background-color:#f8f9fa}.form-control-plaintext[data-v-02b72f71]{padding:.375rem 0;margin-bottom:0;line-height:1.5;background-color:transparent;border:solid transparent;border-width:1px 0}
